{% extends "base.html" %}

{% block content %}

    <div class="product-form-container">
        <h2 class="teal-text lighten-1 title-style product-form-title">Add Product</h2>
        <form action="" method="POST" novalidate>
            <div class="row">
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Product Type</option>
                        {% for prodtype in prodtypes %}
                            i = 1
                            <option value=i>{{ prodtype.name }}</option>
                            i = i+1
                        {% endfor %}
                    </select>
                    <label>Product Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select>
                        {% for prodtype in prodtypes %}
                            <optgroup>
                                <option value="3">Option 3</option>
                            </optgroup>
                            <label>{{ prodtype.name }}</label>
                        {% endfor %}
                        <optgroup label="team 2">
                            <option value="3">Option 3</option>
                            <option value="4">Option 4</option>
                        </optgroup>                    
                    </select>
                    <label>Product Sub-Type</label>                  
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Placeholder" id="last_name" type="text" class="validate">
                    <label for="last_name">Brand</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Placeholder" id="last_name" type="text" class="validate">
                    <label for="last_name">Capacity</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label for="dop">Date of Purchase</label>
                    <input type="text" class="datepicker" id="dop">
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label for="dop">Date of 1st Use</label>
                    <input type="text" class="datepicker" id="dou">
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <label for="due">Relate Caducity to</label>
                    <div class="switch" id="due">
                        <label>
                        Purchase
                        <input type="checkbox">
                        <span class="lever"></span>
                        Use
                        </label>
                    </div>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="col s12 form-submit-placement center-align">
                <button class="btn-large waves-effect waves-light title-style" type="submit" name="action">Add to Vanity
                    <i class="tiny material-icons right">add</i>
                </button>
            </div>
        </form>
    </div>

{% endblock %}
