{% extends "base.html" %}

{% block content %}

    <div class="product-form-container">
        <h2 class="teal-text lighten-1 title-style product-form-title">Add Product</h2>
        <form action="{{ url_for('insertproduct') }}" method="POST">
            {{ form.hidden_tag() }}
            <!-- Product Type Field -->
            <div class="row">
                <div class="input-field col s12">
                    <select name="prodtype" required>
                        <option value="" disabled selected>Select One</option>
                        {% for prodtype in prodtypes %}
                            <option value="{{ prodtype.name }}">{{ prodtype.name }}</option>
                        {% endfor %}
                    </select>
                    <label>Product Type *</label>
                </div>
            </div>
            <!-- Product Sub-Type Field -->
            <div class="row">
                <div class="input-field col s12">
                    <select name="subtype" required>
                        {% for prodtype2 in prodtypes2 %}
                        <optgroup label="{{ prodtype2.name }}">
                            {% for type in prodtype2.subtypes %}
                            <option value="{{ type }}">{{ type }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                    <label>Product Sub-Type *</label>
                </div>
            </div>
            <!-- Brand Field -->
            <div class="row">
                <div class="input-field col s12">
                    <label for="brand">{{ form.brand.label }}</label>
                    {{ form.brand(size=30, id="brand") }}
                </div>
            </div>
            <!-- Capacity Field -->
            <div class="row">
                <div class="input-field col s12">
                    <label for="capacity">{{ form.capacity.label }}</label>
                    {{ form.capacity(id="capacity") }}
                </div>
            </div>
            <!-- Date of Purchase Field -->
            <div class="row">
                <div class="col s12">
                    <label for="dop">Date of Purchase *</label>
                    <input type="text" class="datepicker" id="dop" name="dop" required>
                </div>
            </div>
            <!-- Date of 1st Use Field -->
            <div class="row">
                <div class="col s12">
                    <label for="dop">Date of 1st Use *</label>
                    <input type="text" class="datepicker" id="dou" name="dou">
                </div>
            </div>
            <!-- Due Date Field -->
            <div class="row">
                <div class="col s12 center-align">
                    <label for="due">Relate Caducity to</label>
                    <div class="switch" id="due">
                        <label>
                        Purchase
                        <input type="checkbox" id="duerelation" name="duerelation">
                        <span class="lever"></span>
                        Use
                        </label>
                    </div>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="col s12 form-submit-placement center-align">
                <button class="btn-large waves-effect waves-light title-style" type="submit" name="action">Add to Vanity
                    <i class="tiny material-icons right">add</i>
                </button>
            </div>
        </form>
    </div>

{% endblock %}
