<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
        <!-- Imported CSS & Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Own CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>{{ title }}</title>
    </head>

    <body>
        <header>
            <!-- Navbar & Navar Button -->
            <div class="fixed-action-btn collapsed-icon-menu header-height">
                <a class="waves-effect waves-circle waves-light btn-floating btn-large teal lighten-1">
                    <i class="large material-icons">more_horiz</i>
                </a>
                <ul class="header-width">
                    <li>
                        <a href="{{ url_for('index') }}" class="waves-effect waves-circle waves-light btn-floating teal lighten-2 tooltipped" data-delay="250" data-position="bottom" data-tooltip="Home">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('products') }}" class="waves-effect waves-circle waves-light btn-floating teal lighten-2 tooltipped" data-delay="250" data-position="bottom" data-tooltip="My Cosmetics">
                            <i class="material-icons">brush</i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('addproduct') }}" class="waves-effect waves-circle waves-light btn-floating teal lighten-2 tooltipped" data-delay="250" data-position="bottom" data-tooltip="Add Cosmetic">
                            <i class="material-icons">add_circle_outline</i>
                        </a>
                    </li>
                    <!-- Session conditional for log in/out -->
                    <li>
                        {% if session.get("id") is none %}
                        <a href="{{ url_for('signin') }}" class="waves-effect waves-circle waves-light btn-floating teal lighten-2 tooltipped" data-delay="250" data-position="bottom" data-tooltip="Log In">
                            <i class="material-icons">person</i>
                        </a>
                        {% else %}
                        <a href="{{ url_for('signout') }}" class="waves-effect waves-circle waves-light btn-floating teal lighten-2 tooltipped" data-delay="250" data-position="bottom" data-tooltip="Log Out">
                            <i class="material-icons">person_outline</i>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </header>

        <main class="app-container">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashed-messages teal-text lighten-1">
                    {% for message in messages %}
                    <li><em>{{ message }}</em></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
                
            {% block content %}{% endblock %}
            
        </main>

        <footer>
            <!-- Footer -->
            <div class="footer-copyright">
                <div class="container">
                    <p class="footer-text">
                        Copyright &copy; 2020.
                        <span class="hide-on-small-only">All rights reserved.</span>
                        <a class="teal-text text-lighten-1 right tooltipped" data-delay="350" data-position="top" data-tooltip="Go to GitHub" href="https://github.com/CruzZFire/DD_DB_MS3" target="_blank">
                            Find the repository
                        </a>
                    </p>
                </div>
              </div>    
        </footer>

        <!-- Imported JS & JQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>   
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.fixed-action-btn');
                var instances = M.FloatingActionButton.init(elems, {
                direction: 'left',
                hoverEnabled: false
                });
            });

            $(document).ready(function(){
                $('.tooltipped').tooltip();
                $('select').formSelect();
                $('select[required]').css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute', left: "50%"});
                $('.datepicker').datepicker();
            });
        </script>
    </body>
</html>
