{% extends "base.html" %}

{% block content %}

    <div class="hero-image-index">
        <div class="row homepage-buttons-row">
            <div class="col s6 center-align title-style homepage-button">
                <a class="waves-effect teal lighten-1 btn">See My Cosmetics</a>
            </div>
            <div class="col s6 center-align title-style homepage-button">
                <a class="waves-effect teal lighten-1 btn">Add New Cosmetic</a>
            </div>
        </div>
    </div>

{% endblock %}
