{% extends "base.html" %}

{% block content %}

    <div class="hero-image-index">
        <div class="row homepage-buttons-row">
            <div class="col s6 center-align homepage-button">
                <a href="{{ url_for('products') }}" class="waves-effect teal lighten-1 btn title-style">See My Cosmetics</a>
            </div>
            <div class="col s6 center-align homepage-button">
                <a href="{{ url_for('addproduct') }}" class="waves-effect teal lighten-1 btn title-style">Add New Cosmetic</a>
            </div>
        </div>
    </div>

{% endblock %}
