{% extends "base.html" %}

{% block content %}

    <div class="product-view-container">
        <h2 class="teal-text lighten-1 title-style product-form-title">My Products</h2>
        <!-- Search & Filter Form -->
        <div class="row">
            <form action="{{ url_for('products') }}" method="POST">
                <div class="col s3 hide-on-small-only">
                    <label>Search by Brand</label>
                    <input id="brand" name="brand" type="text">
                </div>
                <div class="col s5 m3">
                    <label>Filter by Type</label>
                    <select id="filter" name="filter">
                        <option value="" disabled selected>Filter</option>
                        {% for prodtype in prodtypes.find() %}
                        <option value="{{ prodtype.name }}">{{ prodtype.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col s5 m3">
                    <label>Sort by Date</label>
                    <select id="sort" name="sort">
                        <option value="" disabled selected>Sort</option>
                        {% for product in products.find({"name": "Example"}) %}
                            {% for key in product.keys() %}
                                {% if "Date" in key %}
                                <option value="{{ key }}">{{ key }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col s2 m3 right-align products-icon-container">
                    <button class="btn waves-effect waves-light title-style" type="submit" name="action">
                        <div class="row valign-wrapper">
                            <span class="hide-on-small-only">Search</span>
                            <i class="tiny material-icons products-icon">search</i>
                        </div>
                    </button>
                </div>
            </form>
        </div>
        <!-- Display Section -->
        <div class="row">
            <div class="col s12">
                {% if message == "" %}
                {% for item in user_products %}
                <div class="row valign-wrapper product-panel">
                    <!-- Card Info -->
                    <div class="col s10 m9 product-panel-card">
                        <h6>
                            <strong>{{ item.prodtype }}</strong>, 
                            <span class="product-panel-attribute"><strong>({{item.subtype}})</strong> - {{ item.brand }}</span>
                        </h6>
                        <p>Size: 
                            <span class="product-panel-attribute">{{ item.capacity }} (ml/gr)</span>
                        </p>
                        <p>Purchase Date: 
                            <span class="product-panel-attribute">{{ item["Date of Purchase"] }}</span>
                        </p>
                        <p>1st Use Date: 
                            <span class="product-panel-attribute">{{ item["Date of 1st Use"] }}</span>
                        </p>
                        <p>Due Date: 
                            <span class="product-panel-attribute">{{ item["Due Date"] }}</span>
                        </p>
                    </div>
                    <!-- Card Buttons -->
                    <div class="col s2 m3">
                        <div class="row">
                            <div class="right-align product-panel-btn">
                                <a href="{{ url_for('products') }}" class="waves-effect teal lighten-1 btn-small title-style">
                                    <div class="row valign-wrapper">
                                        <span class="hide-on-small-only"> Edit Cosmetic</span>
                                        <i class="tiny material-icons products-icon">edit</i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="right-align product-panel-btn">
                                <a href="{{ url_for('products') }}" class="waves-effect teal lighten-1 btn-small title-style">
                                    <div class="row valign-wrapper">
                                        <span class="hide-on-small-only">Delete Cosmetic</span>
                                        <i class="tiny material-icons products-icon">delete</i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider teal lighten-1"></div>
                {% endfor %}
                <!-- Nothing to Display Info -->
                {% else %}
                <div class="row product-panel">
                    <div class="row">
                        <div class="center-align">
                            <h6 class="teal-text lighten-1 title-style product-form-title">{{ message }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center-align product-panel-btn">
                            <a href="{{ url_for('addproduct') }}" class="waves-effect teal lighten-1 btn-small title-style product-message-btn">
                                <div class="row center-align">
                                    {% if "found" in message %}
                                    <span>Add Your First Cosmetic </span>
                                    {% else %}
                                    <span>Add A New Cosmetic </span>
                                    {% endif %}
                                    <i class="tiny material-icons right">add</i>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% if "found" not in message %}
                    <div class="row">
                        <div class="center-align product-panel-btn">
                            <a href="{{ url_for('products') }}" class="waves-effect teal lighten-1 btn-small title-style product-message-btn">
                                <div class="row center-align">
                                    <span>See Your Vanity </span>
                                    <i class="tiny material-icons right">brush</i>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>  
        </div>
    </div>

{% endblock %}
