{% extends "base.html" %}

{% block content %}

    <div class="hero-image-index">
        <div class="row signin-card">
            <div class="col s12 center-align">
                <div class="card teal darken-2 z-depth-3">
                    <div class="card-content white-text">
                        <span class="card-title title-style">Sing Up</span>
                        <form action="" method="POST" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="input-field">
                                <i class="material-icons prefix">person_outline</i>
                                {{ form.user_name(size=30, id="first_name") }}
                                <label class="label" for="first_name">{{ form.user_name.label }}</label>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">vpn_key</i>
                                {{ form.password(size=30, id="password") }}
                                <label class="label" for="password">{{ form.password.label }}</label>
                            </div>
                            <div class="col s12">
                                <button class="btn-large waves-effect waves-light title-style" type="submit" name="action">Manage My Makeup
                                    <i class="material-icons right">keyboard_arrow_right</i>
                                </button>
                            </div>
                            <a class="orange-text darken-3" href="#"><em>Cancel</em></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
