{% extends "base.html" %}

{% block content %}

    <div class="hero-image-index">
        <div class="row signin-card">
            <div class="col s12 center-align">
                <div class="card teal darken-2 z-depth-3">
                    <div class="card-content white-text">
                        <span class="card-title title-style">Sing Up</span>
                        <form action="" method="POST" novalidate>
                            {{ form.hidden_tag() }}
                            <!-- Username Field -->
                            <div class="input-field">
                                <i class="material-icons prefix">person_outline</i>
                                {{ form.username(size=30, maxlength="20", id="first_name") }}
                                <label class="label" for="first_name">{{ form.username.label }}</label>
                                {% for error in form.username.errors %}
                                    <span>[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <!-- Password Field -->
                            <div class="input-field">
                                <i class="material-icons prefix">vpn_key</i>
                                {{ form.password(size=30, maxlength="20", id="password") }}
                                <label class="label" for="password">{{ form.password.label }}</label>
                                {% for error in form.password.errors %}
                                    <span>[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <!-- Password2 Field -->
                            <div class="input-field">
                                <i class="material-icons prefix">vpn_key</i>
                                {{ form.password2(size=30, maxlength="20", id="password2") }}
                                <label class="label" for="password2">{{ form.password2.label }}</label>
                                {% for error in form.password2.errors %}
                                    <span>[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            <!-- Submit Button -->
                            <div class="col s12 form-submit-pacement">
                                <button class="btn-large waves-effect waves-light title-style" type="submit" name="action">Create My Vanity
                                    <i class="material-icons right">keyboard_arrow_right</i>
                                </button>
                            </div>
                            <a class="orange-text darken-3" href="{{ url_for('signin') }}"><em>Already a User?</em></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
