/* General */

.title-style {
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
}

.material-tooltip {
    background-color: transparent;
    font-size: 80%;
    font-weight: 600;
    color: #2F4F4F;
}

.input-field label {
    width: auto !important;
}

.form-submit-placement {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Base */

body {
    background-color: #FBE6AD;
}

.header-height {
    height: 56px;
}

.header-width {
    max-width: 240px;
}

.collapsed-icon-menu {
    position: absolute;
    top: 3%;
    right: 3%;
}

.flashed-messages {
    position: absolute;
}

.app-container {
    display: flex;
    justify-content: center;
    min-height: 93vh;
}

.footer-text {
    font-size: 90%;
}

/* Index */

.hero-image-index {
    background-image: url(../images/vanity.png);
    background-size: cover;
    background-position: top center;
    width: 100%;
}

.homepage-buttons-row {
    margin: 0;
    position: relative;
    top: 50vh;
}

.homepage-button a {
    height: auto;
    padding: 9px 21px;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: normal;
}

/* Sign In */

.signin-card {
    width: 310px;
    margin-left: -155px;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 15vh;
}

/* Products */

.product-view-container {
    min-width: 310px;
}

/* Add Product */

.product-form-container {
    min-width: 310px;
}

.product-form-title {
    text-align: center;
    margin: 15vh 0 5vh 0;
}

/* Media Queries */

@media screen and (min-width: 600px) {
    .flashed-messages {
        font-size: 200%;
    }
    
    .hero-image-index {
        width: 650px;
    }

    .homepage-button a {
        font-size: 24px;
    }

    .product-view-container {
        min-width: 70%;
    }

    .product-form-container {
        min-width: 580px;
    }

    .product-form-title {
        max-width: 100%;
    }
  }