/* General */

.title-style {
    font-family: 'Satisfy', cursive;
}

.material-tooltip {
    background-color: transparent;
    font-size: 80%;
    font-weight: 600;
    color: #2F4F4F;
}

/* Base */

body {
    background-color: #FBE6AD;
}

.header-height {
    height: 56px;
}

.header-width {
    max-width: 240px;
}

.collapsed-icon-menu {
    position: absolute;
    top: 3%;
    right: 3%;
}

.app-container {
    display: flex;
    justify-content: center;
}

.footer-text {
    font-size: 90%;
}

/* Index */

.hero-image-index {
    background-image: url(../images/vanity.png);
    background-size: cover;
    background-position: top center;
    min-height: 93vh;
    width: 100%;
}

.homepage-buttons-row {
    margin: 0;
    position: relative;
    top: 50vh;
}

.homepage-button a {
    height: auto;
    padding: 9px 18px;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: normal;
}

/* Media Queries */

@media screen and (min-width: 600px) {
    .hero-image-index {
      width: 650px;
    }

    .homepage-button a {
        font-size: 24px;
    }
  }