/* General */

.title-style {
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
}

.material-tooltip {
    background-color: transparent;
    font-size: 80%;
    font-weight: 600;
    color: #2F4F4F;
}

.input-field label {
    width: auto !important;
}

.form-submit-placement {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Base */

body {
    background-color: #FBE6AD;
    background-color: #F3E7C5;
}

.header-height {
    height: 56px;
}

.header-width {
    max-width: 240px;
}

.collapsed-icon-menu {
    position: absolute;
    top: 3%;
    right: 3%;
}

.flashed-messages {
    position: absolute;
}

.flashed-messages li {
    padding: 0 65px;
}

.app-container {
    display: flex;
    justify-content: center;
    min-height: 93vh;
}

.footer-text {
    font-size: 90%;
}

/* Index */

.hero-image-index {
    background-image: url(../images/1.png);
    background-size: cover;
    background-position: top center;
    width: 100%;
}

.homepage-buttons-row {
    margin: 0;
    position: relative;
    top: 50vh;
}

.homepage-button a {
    height: auto;
    padding: 9px 21px;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: normal;
}

.homepage-welcome {
    margin-top: 15vh;
}

/* Sign In */

.signin-card {
    width: 310px;
    margin-left: -155px;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 15vh;
}

/* Products */

.product-view-container {
    min-width: 310px;
}

.products-icon-container {
    margin-top: 20px;
}

.product-panel {
    margin: 5px 0;
}

.product-panel-card p,
.product-panel-card h6 {
    text-indent: 2vh;
    margin: 1px;
}

.product-panel-card p {
    font-size: 90%;
}

.product-panel-attribute {
    font-size: 70%;
    font-style: italic;
    padding-left: 5px;
}

.product-panel-btn {
    margin-right: 2vh;
    margin-top: 15px;
}

.product-message-btn {
    min-width: 160px;
}

/* Add Product */

.product-form-container {
    min-width: 310px;
}

.product-form-title {
    text-align: center;
    margin: 15vh 0 5vh 0;
}

/* Media Queries */

@media screen and (min-width: 600px) {
    .flashed-messages {
        font-size: 150%;
    }
    
    .btn-small {
        min-width: 130px;
    }

    .hero-image-index {
        width: 650px;
    }

    .homepage-button a {
        font-size: 24px;
    }

    .product-view-container {
        min-width: 70%;
    }

    .product-form-container {
        min-width: 580px;
    }

    .product-form-title {
        max-width: 100%;
    }

    .product-message-btn {
        min-width: 160px;
    }

    .products-icon {
        margin-left: 15px;
    }
  }